<!DOCTYPE html>
<!-- StoreFront defined in main.js -->
<html ng-app="StoreFront">
<head>
  <title>Wdi10RailsDemoAngularMine</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "main" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
